* {
    font-family: sans-serif;
    margin: 0;
}

body {
    display: flex;
    justify-content: space-between;
}

#map {
    height: 100vh;
    width: 75%;
}


.mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }  

#pannel {
    width: 25%;
}